*.pth
best_model.pth
__pycache__/
.pytest_cache
*.pyc
data/spots/empty/*
data/spots/parked/*
data/spots/obstacle/*
data/test_images/*
!data/spots/empty/.gitkeep
!data/spots/parked/.gitkeep
!data/spots/obstacle/.gitkeep
!data/test_images/.gitkeep
